h1 {
    color: #7481cb;
    font-size: xxx-large;
}
body {
background-color: #ffecc9;
}

.column {
    float: left;
    width: 40%;
    padding: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
   border: 1px solid black;
   padding: 20px;
}