h1 {
    color: #7481cb;
    font-size: xxx-large;
}
body {
background-color: ##fff6f5;
}

.column {
    float: left;
    width: 40%;
    padding: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.a {
   border: 3px solid #7481cb;
   padding: 30px;
}